body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#weaponsDiv {
    display: inline-block;
}

div {
    font-family: Rockwell;
    font: 20px Arial, sans-serif;
}

h1 {
    color: red;
}

#rulesDiv {
    color: green;
}

#rockbtn {
    /*background-image: url("./public/images/boulder.png");*/
    /*background-size: 125px 125px;*/
    height: 140px;
    width: 140px;
}

#countdown {
    font-size: 40px;
}